<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--vinculos-->
  <link rel="stylesheet" href="perfil.css">
  <link rel="stylesheet" href="menu-empleo.css">

  <!-- fuentes-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" 
rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Gabarito:wght@400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
rel="stylesheet">


  <title>Página de Profesionales</title>
  
</head>
<body>

  <!-- Menú lateral -->
  
  <button id="menu">Menú</button>
  
 



  <div class="sidebar">

    <button id="cerrar">Cerrar</button>

    

    <h3>Categorías para solicitantes</h3>
    <ul>
      <li>Salud</li>
      <li>Ingeniería</li>
      <li>Educación</li>
      <li>Tecnología y computación</li>
      <li>Arte y diseño</li>
      <li>Derecho</li>
      <li>Comunicación y medios</li>
      <li>Negocios y finanzas</li>
      <li>Construcción</li>
      <li>Transporte</li>
      <li>Mantenimiento y reparación</li>
      <li>Servicios personales</li>
      <li>Cocina y alimentos</li>
      <li>Limpieza y aseo</li>
      <li>Agricultura y campo</li>
      <li>Comercio y atención al cliente</li>
      <li>Otros...</li>
    </ul>
  </div>

  <!-- Contenido principal -->
   
  <div class="main">
    <div class="search-box">
      <input type="text" placeholder="Busca más opciones...">
    </div>

    <!-- Tarjeta de persona -->
      <div class="main-container">
 
    <div class="card profile-card-clickable" data-id="1">
      <div class="avatar"></div>
      <div class="info">
        <h4>Nombre</h4>
        <p>Años de vigencia: 10</p>
        <p>Ubicacion principal: CrXXXX</p>

        <a href="chat.html">
        <button class="chat">Chat</button>
        </a>

        <div class="stars">★★★★★</div>
          


      </div>
      </div>

    <div class="card profile-card-clickable" data-id="2">
      <div class="avatar"></div>
      <div class="info">
        <h4>Nombre</h4>
        <p>Años de vigencia: 31</p>
        <p>Ubicación principal: CrXXXX</p>
        
         <a href="chat.html">
        <button class="chat">Chat</button>
        </a>

        <div class="stars">★★★☆☆</div>
      </div>
    </div>
  </div>
<script src="perfil.js"></script>
</body>
</html>